.nav {
	grid-column: 1 / 13;
	grid-row: 1 / 2;

	height: 7.1rem;
	border-bottom: solid;
	border-width: 0.2rem;
	border-color: #eee;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	background-color: $color-white;
	z-index: 50;

	&__main {
		&-list {
			display: flex;
		}

		&-link {
			font-size: 2rem;
		}
	}

	&__right {
		&-cta {
			font-size: 2rem;
		}

		&-user {
			font-size: 1.5rem;
		}
	}
}

.nav-btn {
	text-decoration: none;
	font-weight: 500;
	margin: 0 1.5rem;
	color: #000;
}

.logo-icon {
	width: 6rem;
	height: 2.9rem;
	margin: 0rem 2rem 0 3.3rem;
	transform: translateY(.2rem);

}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}