.text2 {
	grid-column: 2 / 12;
	grid-row: 4 / 5;

	&__text {
		@include center-cont;
		padding: 8rem 0;
	}
}

.text3 {
	grid-column: 2 / 12;
	grid-row: 6 / 7;

	&__text {
		@include center-cont;
		padding: 8rem 0;
	}
}

.text4 {
	grid-column: 2 / 12;
	grid-row: 8 / 9;

	&__text {
		@include center-cont;
		padding: 8rem 0;
	}
}

.text5 {
	grid-column: 2 / 12;
	grid-row: 10 / 11;

	&__text {
		@include center-cont;
		padding: 8rem 0;
	}
}

.text6 {
	grid-column: 2 / 12;
	grid-row: 12 / 13;

	&__text {
		@include center-cont;
		padding: 8rem 0;
	}
}